<div class="section-full  p-t110 p-b80 sx-bg-white sx-about-bx1-outer">
    <div class="container">
        <div class="section-content">
            <div class="sx-about-bx1-content-wrap">
                <div class="row">

                    <div class="col-lg-6 col-md-12 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-about-bx1-media">
                            <div class="sx-dot-bx"><img src="assets/images/about/dotted-pic.png" alt="image"></div>
                            <div class="sx-ab-img-outer">
                                <div class="sx-ab-img-section-1-wrap">
                                   
                                  
                                </div>

                                <div class="sx-ab-img-section-2">
                                    <img src="assets/images/about/p1.jpg" alt="image">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 wow fadeInDown" data-wow-duration="1000ms">
                        <div class="sx-about-bx1-content">
                            <h2 class="sx-title">That's why we're list of favorites.</h2>

                            

                            <p>Energy Wiz&#39;s advanced technology offers real-time monitoring, personalized
                                efficiency suggestions, and integration with energy pricing structures, aligning with
                                Canada&#39;s goals of achieving sustainable energy practices. Its capabilities in energy
                                management are essential for enhancing the efficiency and resilience of Canada&#39;s
                                energy infrastructure, making it a valuable addition to the market. Overall,
                                introducing Energy Wiz in Canada presents an opportunity to address critical energy
                                challenges and support the country&#39;s transition towards a more sustainable energy
                                future.</p>
                                <p>Canada is predicted headed to a potential electricity shortages projected by 2029 or 2030 and
                                    the country&#39;s world above-average energy consumption.</p>



                            

                          


                        </div>
                    </div>

                    <div class="row sx-about-icon-bx1-column mt-20" style="margin-top: 50px;">
                        <div class="col-lg-6 col-md-6">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-mouse"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Vision</span>
                                    <span class="sx-icon-bx-title-info">Helping Canada and indeed the World sustain universe’s critical resource – Energy.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-download"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Mission</span>
                                    <span class="sx-icon-bx-title-info">We guarantee value adding analytics that ensures enhanced business performance to our
                                        customers with cutting technologies and care to the environment.</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- COUNTER START 
            <app-section-counter1></app-section-counter1>
           COUNTER  END -->
        </div>

    </div>

</div>