<div class="container">

    <div class="section-content">
        <div class="sx-about-bx4-content-wrap p-b70">
            <h4 class="sx-title" style="text-align: center;">Why Choose Us to Join Our Work?</h4>
                        <p style="text-align: center; font-size: medium;">Our platform simplifies energy management by allowing you to capture device serial numbers and monitor their energy consumption.
                        <br/>Utilizing advanced AI and machine learning, we analyze this data alongside energy bills to offer predictive insights and cost-saving opportunities.
                        <br/> Optimize your strategies with our predictive simulations, helping you achieve maximum efficiency and informed decision-making.</p>

            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="sx-about-bx4-media">
                        <div class="sx-ab4-img-outer">
                            <div class="sx-ab4-media">
                                <img src="assets/images/about/p3.webp" alt="media">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="sx-about-bx4-content">
                        
                        <ul style="list-style-type:none;">
                            <li><strong>Comprehensive Energy Tracking</strong>
                              <p>Our platform enables you to photograph or input serial numbers of various commercially used devices, ensuring a comprehensive catalog of your equipment and their energy consumption.</p>
                            </li>
                            <li><strong>Advanced AI and Machine Learning</strong>
                              <p>We utilize cutting-edge AI and machine learning algorithms to analyze energy consumption data, providing predictive analytics and actionable insights for optimizing energy use.</p>
                            </li>
                            <li><strong>Predictive Analytical Results</strong>
                              <p>Our software offers predictive simulations based on your data, showcasing potential outcomes and projected improvements, allowing you to optimize energy usage strategies effectively.</p>
                            </li>
                            <li><strong>Integration with Smart Technology</strong>
                              <p>Seamlessly integrate with smart devices like outlets and bulbs, enabling real-time monitoring and centralized energy management to regulate power flow and reduce energy waste.</p>
                            </li>
                            <li><strong>Cost and Savings Insights</strong>
                              <p>Gain valuable insights into costs, peak consumption times, and potential savings by integrating energy usage data with information from energy bills.</p>
                            </li>
                            <li><strong>Real-Time Monitoring and Automation</strong>
                              <p>Monitor each connected device in real time, identify energy-intensive equipment, and implement scheduling and timers for automated energy conservation.</p>
                            </li>
                            <li><strong>Enhanced Energy Conservation</strong>
                              <p>Our platform's tools and insights help businesses implement changes that lead to significant energy savings and improved efficiency.</p>
                            </li>
                            <li><strong>Customizable Strategies for Optimization</strong>
                              <p>Fine-tune and optimize energy management strategies based on predictive simulations, ensuring the best results tailored to your specific needs and goals.</p>
                            </li>
                            <li><strong>User-Friendly Interface</strong>
                              <p>The platform offers an intuitive and user-friendly interface, making it easy for businesses of all sizes to navigate and utilize its features effectively.</p>
                            </li>
                            <li><strong>Scalable Solutions</strong>
                              <p>Whether you manage a small office or a large industrial facility, our solutions are scalable to meet your energy management needs.</p>
                            </li>
                          </ul>
                          

                        <!--a routerLink="/company/why-choose-us" class="site-button sx-btn-primary icon sx-btn-lg">
                            <i class="fa  fa-long-arrow-right"></i>
                            View All
                        </a-->


                    </div>
                </div>


            </div>
        </div>

        <!--testimonial section -->
        <app-section-testimonials2></app-section-testimonials2>

    </div>

</div>