@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.teamitem {
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .teamitem img {
    transition: transform 0.3s ease;
  }
  
  .teamitem h5, .teamitem h6, .teamitem p {
    transition: color 0.3s ease;
  }
  
  .teamitem:hover img {
    transform: scale(1.1); /* Zoom out effect */
  }
  
  .teamitem:hover h5, .teamitem:hover h6, .teamitem:hover p {
    color: #333; /* Darker text color */
  }
  