<!-- service detail SECTION START -->
<div class="section-full p-b80 sx-ser-detail-outer sx-bg-white">
    <div class="sx-ser-detail-l-pic p-b80">
        <div class="sx-media  relative ">
            <img src="assets/images/services/businesspeople-analyzing-financial-graph-working-a-2023-11-27-05-25-04-utc.JPG" alt="image">
            <div class="sx-bnr-outline-text">
                <h1> It Solution</h1>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="section-content">
            <div class="sx-our-service-detail">
                <!-- TITLE START -->
                <div class="section-head2">
                    <div class="sx-head-s-title">E-WIZ</div>
                    <div class="sx-head-l-title">
                        <h2 class="sx-title2">Best Enrgy management app</h2>
                    </div>
                </div>
                <!-- TITLE END -->
                <div class="sx-our-service-info m-b80">

                    <div class="row sx-about-icon-bx1-column p-t50 p-b20">
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-mouse-1"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Energy Consumption Insights</span>
                                    <span class="sx-icon-bx-title-info">Consulting</span>

                                </div>
                                <p>Our app analyzes the energy usage of various commercial devices, providing detailed insights into their total energy consumption. Understand your energy usage patterns and identify opportunities for improvement.</p>
                            </div>
                          

                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-download"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Predictive Analytics</span>
                                    <span class="sx-icon-bx-title-info">IT Service</span>
                                </div>
                                <p>Leveraging AI and machine learning, our app delivers predictive analytical results and simulates potential outcomes based on implemented changes. Fine-tune your energy-saving strategies with data-driven insights.</p>

                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Cost and Consumption Analysis</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                                <p>Integrate data from your energy bills to gain valuable insights into costs, peak consumption times, and potential savings. Make informed decisions to optimize your energy usage and reduce expenses.</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Smart Device Integration</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                                <p>Seamlessly connect smart devices such as outlets and bulbs for centralized energy management. Monitor and adjust energy-intensive equipment in real-time to enhance efficiency.</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Automation and Optimization</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                                <p>Utilize scheduling and timers to automate energy conservation efforts. Achieve greater energy efficiency and cost savings through optimized device management.</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Centralized Energy Management</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                                <p>The app provides a unified platform to manage all your connected devices. Easily control and monitor your energy usage from a single interface.</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 col-md-12 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Real-Time Monitoring</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                                <p>Keep track of the energy consumption of each connected device in real-time. Identify and address energy-intensive devices promptly to maximize efficiency and savings.</p>
                            </div>
                            
                        </div>
                    </div>
                    

                </div>
                <!-- COUNTER START 
                <app-section-counter1></app-section-counter1>
                 COUNTER  END -->

            </div>
        </div>
    </div>

</div>
<!-- service detail SECTION END -->

<!-- VIDEO SECTION START -->
<app-section-video2></app-section-video2>
<!-- VIDEO SECTION START -->

<!-- ABOUT COMPANY START -->
<div class="section-full  p-t100 p-b0 sx-bg-light sx-about-bx4-outer">

    <app-section-pricing1></app-section-pricing1>
</div>
<!-- ABOUT COMPANY END -->

<!-- OUR CLIENTS SECTION START 
<app-section-clients2></app-section-clients2>
 OUR CLIENTS SECTION END -->